<html>
    <head>
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Bem vindo a uma pagina desconhecida!</title>
        {% endif %}
    </head>
    <body>
        <h1>{{ title }}</h1>
        <h2>-- Cadastro de scripts</h2>
        <form action="/" method="POST">
            {{ form.csrf_token }}
            <p>{{ form.nome.label }} {{ form.nome(size=20) }}</p>
            <p>{{ form.script.label }} {{ form.script(size=20) }}</p>
            <p>{{ form.period.label }} {{ form.period(size=20) }}</p>
            <p>{{ form.iniciaja.label }} {{ form.iniciaja(size=20) }}</p>
            <p>{{ form.horafim.label }} {{ form.horafim(size=20) }}</p>
            <p>{{ form.horaini.label }} {{ form.horaini(size=20) }}</p>
            <p>{{ form.submit(size=20) }}</p>
        </form>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <h2>-- Últimos scripts cadastrados</h2>
        {% for conf in configs %}
            <div style= "color:green; font-weight: bold;">
                <h3>{{ conf.nome }}</h3>
                <p>script cadastrado: {{ conf.script }}</p>
                <p>periodicidade: {{ conf.periodicidade }}</p>
                <p>executaAoIniciar: {{ conf.executaAoIniciar }}</p>
                <p>Script encerra as: {{ conf.horarioFim }}</p>
                <p>Script reinicia as: {{ conf.horarioInicio }}</p>
            </br>
            </div>            
        {% endfor %}
    
    </body>
</html>